:root {
  --clr-desturated-red: hsl(0, 36%, 70%);
  --clr-soft-red: hsl(0, 93%, 68%);
  --dark-grayish-red: hsl(0, 6%, 24%);
  --gradient-primary: linear-gradient(
    135deg,
    hsl(0, 0%, 100%),
    hsl(0, 100%, 98%)
  );
  --gradient-secondary: linear-gradient(
    135deg,
    hsl(0, 80%, 86%),
    hsl(0, 74%, 74%)
  );

  --ff-sans-serif: "Josefin Sans", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  padding: 30px 30px 60px;
  margin: 0;
  font-family: var(--ff-sans-serif);
}

.logo-outside {
  width: 104px;
  margin-bottom: 30px;
}

.logo-inside {
  display: none;
}

.hero__bg {
  margin-left: -30px;
  margin-right: -30px;
  background: url("./../images/hero-mobile.jpg") center/cover no-repeat;
  height: 250px;
}

.logo-inside {
  display: none;
}

.hero__title {
  margin-top: 65px;
  margin-bottom: 25px;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.25;
}

.hero-title {
  display: block;
  letter-spacing: 8px;
  font-weight: 400;
  color: var(--dark-grayish-red);
  font-weight: 600;
}

.hero-title--1 {
  color: var(--clr-desturated-red);
  font-weight: 300;
}

.hero__text {
  color: var(--clr-desturated-red);
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
}

.hero__form {
  position: relative;
  margin-top: 40px;
  display: flex;
}

.hero__input {
  flex-grow: 1;
  border: 1px solid var(--clr-desturated-red);
  border-radius: 30px;
  padding: 20px 114px 20px 30px;
  color: var(--dark-grayish-red);
  font-size: 14px;
  font-family: var(--ff-sans-serif);
  outline: 0;
  transition: all 0.4s ease-in-out;
}

.hero__input::placeholder,
.hero__input::-moz-placeholder {
  color: var(--clr-desturated-red);
}

.hero__input.error {
  border-color: var(--clr-soft-red);
  animation: shake 0.4s;
}

.hero__input-error-icon {
  position: absolute;
  top: 50%;
  right: 80px;
  transform: translateY(-50%) scale(0);
  height: 24px;
  width: 24px;
  opacity: 0;
  transition: transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1),
    opacity 0.4s ease;
}

.hero__input-error-icon--show {
  transform: translateY(-50%) scale(1);
  opacity: 1;
}

.hero__input-message {
  position: absolute;
  bottom: -30px;
  left: 30px;
  font-size: 14px;
  color: var(--clr-soft-red);
  display: none;
}

.hero__input-message.show {
  display: block;
}

.hero__btn {
  cursor: pointer;
  padding: 0;
  position: absolute;
  right: 0;
  width: 64px;
  height: 100%;
  border: 0;
  border-radius: 30px;
  background: var(--gradient-secondary);
  outline: 0;
  box-shadow: 0 8px 16px hsla(0, 93%, 68%, 0.37);
  transition: box-shadow 0.6s ease-in-out;
}

.hero__btn:hover {
  box-shadow: 0 8px 16px hsla(0, 93%, 68%, 0.67);
}

.hero__btn-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

@media (min-width: 992px) {
  body {
    padding: 0;
  }

  .logo-outside {
    display: none;
  }

  .logo-inside {
    display: block;
    width: 164px;
  }

  .hero {
    display: flex;
    flex-direction: row-reverse;
  }

  .hero__bg {
    flex: 0 0 610px;
    height: 100vh;
    background: url("./../images/hero-desktop.jpg") center/cover no-repeat;
    margin: 0;
  }

  .hero__content {
    background: linear-gradient(
      135deg,
      hsla(0, 74%, 74%, 0.08),
      hsla(0, 80%, 86%, 0.16)
    );
    padding: 65px 220px 65px 175px;
  }

  .hero__title {
    font-size: 48px;
    text-align: left;
    line-height: 1.315;
  }

  .hero-title {
    letter-spacing: 25px;
  }

  .hero__text {
    font-size: 16px;
    text-align: left;
    line-height: 1.5;
  }

  .hero__input {
    font-size: 16px;
    padding-right: 156px;
    border: 2px solid var(--clr-desturated-red);
  }

  .hero__input-message {
    font-size: 16px;
  }

  .hero__input-error-icon {
    right: 116px;
  }

  .hero__btn {
    width: 100px;
  }
}

@media (max-width: 374px) {
  .hero__input {
    padding: 20px 75px 20px 30px;
  }
}

@media (min-width: 1200px) and (min-height: 1081px) {
  .hero__bg {
    height: 1080px;
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
