:root {
  --clr-desturated-red: hsl(0, 36%, 70%);
  --clr-soft-red: hsl(0, 93%, 68%);
  --dark-grayish-red: hsl(0, 6%, 24%);
  --gradient-primary: linear-gradient(
    135deg,
    hsl(0, 0%, 100%),
    hsl(0, 100%, 98%)
  );
  --gradient-secondary: linear-gradient(
    135deg,
    hsl(0, 80%, 86%),
    hsl(0, 74%, 74%)
  );

  --ff-sans-serif: "Josefin Sans", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: var(--ff-sans-serif);
}

.logo-mobile {
  padding: 40px 30px;
}

.logo-image {
  display: block;
  width: 104px;
}

.logo-desktop {
  display: none;
}

.hero__bg {
  background: url("./../images/hero-mobile.jpg") center/cover no-repeat;
  height: 250px;
}

.hero__content {
  background: url("./../images/bg-pattern-desktop.svg") center/cover no-repeat;
  padding: 65px 30px 90px;
}

.logo-desktop {
  display: none;
}

.hero__title {
  margin-bottom: 25px;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.25;
}

.hero-title {
  display: block;
  letter-spacing: 8px;
  font-weight: 400;
  color: var(--dark-grayish-red);
  font-weight: 600;
}

.hero-title--1 {
  color: var(--clr-desturated-red);
  font-weight: 300;
}

.hero__text {
  color: var(--clr-desturated-red);
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
}

.hero__form {
  position: relative;
  margin-top: 40px;
}

.hero__input {
  width: 100%;
  outline: 0;
  border: 1px solid var(--clr-desturated-red);
  border-radius: 30px;
  padding: 20px 116px 20px 30px;
  background: var(--gradient-primary);
  color: var(--dark-grayish-red);
  font-size: 14px;
  font-family: var(--ff-sans-serif);
}

.hero__input::placeholder,
.hero__input::-moz-placeholder {
  color: var(--clr-desturated-red);
}

.hero__input.error {
  border: 1px solid var(--clr-soft-red);
}

.hero__input-error-icon {
  position: absolute;
  top: 50%;
  right: 80px;
  transform: translateY(-50%) scale(0);
  height: 24px;
  width: 24px;
  opacity: 0;
  transition: transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1),
    opacity 0.4s ease;
}

.hero__input-error-icon.show {
  transform: translateY(-50%) scale(1);
  opacity: 1;
}

.hero__input-message {
  position: absolute;
  bottom: -30px;
  left: 30px;
  font-size: 14px;
  color: var(--clr-soft-red);
  display: none;
}

.hero__input-message.show {
  display: block;
}

.hero__btn {
  position: absolute;
  top: 0;
  right: 0;
  outline: 0;
  border: 0;
  border-radius: 30px;
  padding: 0;
  width: 64px;
  height: 100%;
  background: var(--gradient-secondary);
  box-shadow: 0 8px 16px hsla(0, 93%, 68%, 0.37);
  cursor: pointer;
  transition: box-shadow 0.6s ease-in-out;
}

.hero__btn:hover {
  box-shadow: 0 8px 16px hsla(0, 93%, 68%, 0.67);
}

.hero__btn-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

@media (min-width: 992px) {
  .logo-mobile {
    display: none;
  }

  .logo-desktop {
    display: block;
  }

  .hero {
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
  }

  .hero__content {
    flex: 0 0 60%;
    padding: 65px 90px 90px;
  }

  .hero__bg {
    flex: 0 0 40%;
    height: 100vh;
    background: url("./../images/hero-desktop.jpg") center/cover no-repeat;
  }

  .hero__title {
    margin-top: 65px;
    font-size: 36px;
    text-align: left;
    line-height: 1.315;
  }

  .hero-title {
    letter-spacing: 16px;
  }

  .hero__text {
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
  }

  .hero__input {
    font-size: 16px;
    padding-right: 148px;
  }

  .hero__input-message {
    font-size: 16px;
  }

  .hero__input-message {
    font-size: 16px;
  }

  .hero__input-error-icon {
    right: 116px;
  }

  .hero__btn {
    width: 100px;
  }
}

@media (min-width: 1280px) {
  .hero__content {
    flex: 0 0 60%;
    padding: 65px 170px 90px;
  }
}

@media (min-width: 1440px) {
  .logo-image {
    width: 164px;
  }

  .hero__bg {
    flex: 0 0 610px;
  }

  .hero__content {
    flex: 0 0 830px;
    padding: 65px 220px 160px 165px;
  }

  .hero__title {
    margin-top: 135px;
  }

  .hero-title {
    letter-spacing: 25px;
  }

  .hero__text {
    margin-bottom: 50px;
  }
}

@media (min-width: 1024px) and (min-height: 1080px) {
  .hero__bg {
    height: 1080px;
  }
}

@media (max-width: 374px) {
  .hero__input {
    padding: 20px 116px 20px 30px;
  }
}
